<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>氦氪官网-首页</title>
</head>
<body id="index">
<!--主要内容-->
<div id="main">
    <!--首页banner-->
    <div class="home-banner">
        <img class="w home-banner-bg" src="/HK/images/home-banner-small.png" alt="">
        <!--文案-->
        <div class="context pb50">
            <!--居中对齐-->
            <div class="align-center">
                <div class="center">
                    <h2 class="title">氦氪云</h2>
                    <span>安全　快速　开放</span>
                    <p>300＋企业智能产品见证　5000＋工程师开发试用　2500万元+PaaS云平台开发投入</p>
                    <a class="btn btn-import" href="javascript:void(0)">注册使用</a>
                </div>
            </div>
        </div>
        <!--菜单-->
        <div class="sub-nav">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <i class="iconfont">&#xe95f;</i>
                        <span>智能硬件方案</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="iconfont">&#xe964;</i>
                        <span>智慧生活方案</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="iconfont">&#xe963;</i>
                        <span>智慧运维方案</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--内容部分-->
    <div class="content">
        <ul>
            <!--文档-->
            <li class="file noBottomPadding bgColor">
                <div class="container">
                    <h2 class="caption">氦氪云开发文档</h2>

                    <div class="list">
                        <!--四列菜单-->
                        <ul class="four-item">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe960;</i>
                                    <h5 class="title">运营中心</h5>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe95a;</i>
                                    <h5 class="title">产测平台</h5>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe95d;</i>
                                    <h5 class="title">调试工具</h5>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe95c;</i>
                                    <h5 class="title">SDK下载</h5>
                                </a>
                            </li>
                        </ul>
                        <!--三列菜单-->
                        <ul class="three-item">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe95e;</i>
                                    <h5 class="title">通讯协议</h5>
                                </a>
                                <ul class="sub-nav">
                                    <li><a href="javascript:void(0)">设备云端通讯协议</a></li>
                                    <li><a href="javascript:void(0)">模块mcu通讯协议</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe95b;</i>
                                    <h5 class="title">APP开发API</h5>
                                </a>
                                <ul class="sub-nav">
                                    <li><a href="javascript:void(0)">H5 开发API</a></li>
                                    <li><a href="javascript:void(0)">IOS 开发API</a></li>
                                    <li><a href="javascript:void(0)">Android 开发API</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe961;</i>
                                    <h5 class="title">云平台API</h5>
                                </a>
                                <ul class="sub-nav">
                                    <li><a href="javascript:void(0)">云端API列表</a></li>
                                    <li><a href="javascript:void(0)">云端API详情</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="tc mt30">
                            <a class="btn btn-import-border" href="javascript:void(0)">开发文档</a>
                        </div>
                    </div>
                    <!--分割线-->
                    <i class="cutting-line"></i>
                </div>
            </li>
            <!--PaaS云平台-->
            <li class="bgColor">
                <div class="container">
                    <h2 class="caption tl">氦氪云开发文档</h2>
                    <a href="javascript:void(0)" class="aHover"><img class="w mt30" src="/HK/images/photo_0001.png" alt=""></a>
                </div>
            </li>
            <!--智慧生活解.决方案-->
            <li class="noPadding fullWindow">
                <div class="pr">
                    <i class="fixed-btn"></i>
                    <img class="fullScreePphoto" src="/HK/images/photo_0002.png" alt="">
                </div>
            </li>
            <!--智能硬件解决方案-->
            <li class="noPadding fullWindow">
                <div class="pr">
                    <i class="fixed-btn num-2"></i>
                    <img class="fullScreePphoto" src="/HK/images/photo_0003.png" alt="">
                </div>
            </li>
            <!--智能硬件解决方案-->
            <li class="noPadding fullWindow">
                <div class="pr">
                    <i class="fixed-btn num-3"></i>
                    <img class="fullScreePphoto" src="/HK/images/photo_0004.png" alt="">
                </div>
            </li>
            <!--合作伙伴-->
            <li class="Partners bgColor noBottomPadding">
                <div class="container">
                    <h2 class="caption">携手氦氪　合作共赢</h2>
                    <!--合作伙伴-->
                    <div class="Partners-list">
                        <ul>
                            <li>
                                <dl>
                                    <dt>典型客户</dt>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0001.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0002.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0003.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0004.png"></a>
                                    </dd>
                                </dl>
                            </li>
                            <li class="more">
                                <dl>
                                    <dt>行业伙伴</dt>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0005.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0006.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0007.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0008.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0009.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0010.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0011.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0012.png"></a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>媒体渠道</dt>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0013.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0014.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0015.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0016.png"></a>
                                    </dd>
                                </dl>
                            </li>
                            <li class="more">
                                <dl>
                                    <dt>硬件伙伴</dt>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0017.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0018.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0019.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0020.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0021.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0022.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0023.png"></a>
                                    </dd>
                                    <dd><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0024.png"></a>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <!--分割线-->
                    <i class="cutting-line"></i>
                </div>
            </li>

        </ul>
    </div>
</div>
</body>
</html>