<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>氦氪官网-智能硬件方案</title>
</head>
<body id="hardware">
<!--主要内容-->
<div id="main">
    <!--首页banner-->
    <div class="home-banner">
        <img class="w home-banner-bg" src="/HK/images/photo_0014.png" alt="">
        <a href="javascript:void(0)" class="fixed-btn"></a>
    </div>
    <!--内容部分-->
    <div class="content">
        <ul>
            <!--产品服务-->
            <li class="file noBottomPadding">
                <div class="container">
                    <h2 class="caption tl">产品服务</h2>
                    <div class="list">
                        <!--四列菜单-->
                        <ul class="four-item">
                            <li>
                                <i class="iconfont">&#xe992;</i>
                                <h5 class="title">通讯模块</h5>
                                <ul class="sub-nav">
                                    <li>wifi</li>
                                    <li>zigbee</li>
                                    <li>蓝牙</li>
                                    <li>2/3/4G</li>
                                </ul>
                            </li>
                            <li>
                                <i class="iconfont">&#xe991;</i>
                                <h5 class="title">软件开发</h5>
                                <ul class="sub-nav">
                                    <li>APP</li>
                                    <li>微信</li>
                                </ul>
                            </li>
                            <li>
                                <i class="iconfont">&#xe98f;</i>
                                <h5 class="title">数据管理</h5>
                                <ul class="sub-nav">
                                    <li>数据统计</li>
                                    <li>设备管理</li>
                                    <li>消息推送</li>
                                    <li>远程OTA</li>
                                </ul>
                            </li>
                            <li>
                                <i class="iconfont">&#xe990;</i>
                                <h5 class="title">嵌入式软件</h5>
                                <ul class="sub-nav">
                                    <li>串口透传开发</li>
                                    <li>主控固件开发</li>
                                </ul>
                            </li>
                        </ul>
                        <!--分割线-->
                        <i class="cutting-line"></i>
                    </div>
                </div>
            </li>
            <!--合作方式-->
            <li class="noBottomPadding">
                <div class="container">
                    <h2 class="caption tl">合作方式</h2>
                    <div class="tc">
                        <img class=" mt30" src="/HK/images/photo_0015.png" alt="">
                    </div>
                    <!--分割线-->
                    <i class="cutting-line"></i>
                </div>
            </li>
            <!--产品开发合作流程-->
            <li class="noBottomPadding">
                <div class="container">
                    <h2 class="caption tl">合作流程</h2>
                    <div class="cooperation-list">
                        <ul>
                            <li>
                                <i class="iconfont">&#xe968;</i>
                                <h4 class="title">1.注册审核</h4>
                                <ul class="sub-list">
                                    <li>选择账户类型</li>
                                    <li>注册运营中心</li>
                                    <li>审核认证通过</li>
                                    <li>定义产品功能</li>
                                </ul>
                                <i class="iconfont icon-next">&#xe999;</i>
                            </li>
                            <li>
                                <i class="iconfont">&#xe96a;</i>
                                <h4 class="title">2.商务洽谈</h4>
                                <ul class="sub-list">
                                    <li>查阅开发文档</li>
                                    <li>产品需求评估</li>
                                    <li>确定技术方案</li>
                                    <li>签订合作协议</li>
                                </ul>
                                <i class="iconfont icon-next">&#xe999;</i>
                            </li>
                            <li>
                                <i class="iconfont">&#xe965;</i>
                                <h4 class="title">3.产品开发</h4>
                                <ul class="sub-list">
                                    <li>通讯协议开发</li>
                                    <li>确定通讯模组</li>
                                    <li>单片机MCU研发</li>
                                    <li>APP和H5开发定制</li>
                                </ul>
                                <i class="iconfont icon-next">&#xe999;</i>
                            </li>
                            <li>
                                <i class="iconfont">&#xe966;</i>
                                <h4 class="title">4.产品测试</h4>
                                <ul class="sub-list">
                                    <li>氦氪软件测试</li>
                                    <li>厂家设备调试</li>
                                    <li>双方联调测试</li>
                                </ul>
                                <i class="iconfont icon-next">&#xe999;</i>
                            </li>
                            <li>
                                <i class="iconfont">&#xe967;</i>
                                <h4 class="title">5.产品生产</h4>
                                <ul class="sub-list">
                                    <li>采购模块</li>
                                    <li>产品打样</li>
                                    <li>小批量生产</li>
                                    <li>产品量产销售</li>
                                </ul>
                                <i class="iconfont icon-next">&#xe999;</i>
                            </li>
                            <li>
                                <i class="iconfont">&#xe969;</i>
                                <h4 class="title">6.产品运营</h4>
                                <ul class="sub-list">
                                    <li>消费者使用</li>
                                    <li>产品管理</li>
                                    <li>用户管理</li>
                                </ul>
                                <i class="iconfont icon-next">&#xe999;</i>
                            </li>
                        </ul>
                    </div>
                    <!--分割线-->
                    <i class="cutting-line"></i>
                </div>
            </li>
            <!--服务方案-->
            <li>
                <div class="container">
                <h2 class="caption tl">服务方案</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>服务类型</td>
                            <td>服务项目</td>
                            <td>自主开发 - 个人</td>
                            <td>自主开发 - 企业</td>
                            <td>标准开发 - 企业</td>
                            <td>深度定制 - 企业</td>
                            <td>开发对接方</td>
                        </tr>
                        <tr>
                            <td rowspan="3">云服务</td>
                            <td class="w200">公有云服务</td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪</td>
                        </tr>
                        <tr>
                            <td>私有云服务</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪</td>
                        </tr>
                        <tr>
                            <td>API接口服务</td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪</td>
                        </tr>
                        <tr>
                            <td rowspan="4">APP/微信开发</td>
                            <td>企业自有APP定制</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪/第三方</td>
                        </tr>
                        <tr>
                            <td>丛云APP-H5定制</td>
                            <td></td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪</td>
                        </tr>
                        <tr>
                            <td>丛云APP-H5标准</td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪/第三方</td>
                        </tr>
                        <tr>
                            <td>微信开发</td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪/第三方</td>
                        </tr>
                        <tr>
                            <td rowspan="2">运营中心</td>
                            <td>提供包括远程升级、设备用户管理、数据统计分析、APP自动生成及管理、产品及消息推送管理近三十种功能选项</td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪</td>
                        </tr>
                        <tr>
                            <td>功能页面定制</td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪/第三方</td>
                        </tr>
                        <tr>
                            <td rowspan="5">通讯模块</td>
                            <td>wifi模块</td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪/第三方</td>
                        </tr>
                        <tr>
                            <td>zigbee模块</td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪/第三方</td>
                        </tr>
                        <tr>
                            <td>2/3/4G模块</td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪/第三方</td>
                        </tr>
                        <tr>
                            <td>蓝牙模块</td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪/第三方</td>
                        </tr>
                        <tr>
                            <td>NB-IOT</td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪/第三方</td>
                        </tr>
                        <tr>
                            <td rowspan="4">嵌入式开发</td>
                            <td>串口透传固件</td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪</td>
                        </tr>
                        <tr>
                            <td>产品主控固件</td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪/第三方</td>
                        </tr>
                        <tr>
                            <td>SOC软件对接</td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪/第三方</td>
                        </tr>
                        <tr>
                            <td>MCU软件开发</td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>企业/第三方</td>
                        </tr>
                        <tr>
                            <td rowspan="3">技术开发支持</td>
                            <td>多对一技术支持</td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪</td>
                        </tr>
                        <tr>
                            <td>多对一技术开发</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪</td>
                        </tr>
                        <tr>
                            <td>在线技术对接教程</td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪</td>
                        </tr>
                        <tr>
                            <td>增值服务</td>
                            <td>第三方对接服务</td>
                            <td></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td><i class="iconfont mainColor fs20">&#xe999;</i></td>
                            <td>氦氪</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>