<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>氦氪官网-智能硬件方案</title>
</head>
<body id="hardware">
<!--主要内容-->
<div id="main">
    <!--首页banner-->
    <div class="home-banner">
        <img class="w home-banner-bg" src="/HK/images/photo_0016.png" alt="">
        <a href="javascript:void(0)" class="fixed-btn"></a>
    </div>
    <!--内容部分-->
    <div class="content">
        <ul>
            <!--行业现状-->
            <li class="noBottomPadding bgColor">
                <div class="container">
                    <h2 class="caption">行业现状</h2>
                    <div class="tc mt30 pt30">
                        <img src="/HK/images/photo_0017.png" alt="">
                    </div>
                    <!--分割线-->
                    <i class="cutting-line mauto"></i>
                </div>
            </li>
            <!--氦氪云生态服务-->
            <li class="noBottomPadding bgColor">
                <div class="container">
                    <h2 class="caption">氦氪云生态服务</h2>
                    <div class="tc mt30 pt30">
                        <img src="/HK/images/photo_0018.png" alt="">
                    </div>
                    <!--分割线-->
                    <i class="cutting-line"></i>
                </div>
            </li>
            <!--智慧生活-->
            <li class="bgColor">
                <h2 class="caption">智慧生活</h2>
                <h4 class="caption pt15">携手共建智慧生活</h4>
                <!--生活列表-->
                <div class="live">
                    <ul>
                        <li><img src="/HK/images/photo_0019.png" alt=""/></li>
                        <li class="noPhoto">
                            <div class="left-text">
                                <span>智能家居</span>
                            </div>
                            <div class="right-text">
                                <span>智慧酒店</span>
                            </div>
                        </li>
                        <li><img src="/HK/images/photo_0020.png" alt=""/></li>
                        <li><img src="/HK/images/photo_0021.png" alt=""/></li>
                        <li class="noPhoto">
                            <div class="left-text bottom">
                                <span>智慧公寓</span>
                            </div>
                        </li>
                        <li class="noPhoto">
                            <div class="right-text">
                                <span>智慧酒店</span>
                            </div>
                        </li>
                        <li><img src="/HK/images/photo_0022.png" alt=""/></li>
                        <li><img src="/HK/images/photo_0023.png" alt=""/></li>
                        <li class="noPhoto">
                            <div class="left-text">
                                <span>智慧商业</span>
                            </div>
                            <div class="right-text">
                                <span>智慧酒店</span>
                            </div>
                        </li>
                        <li><img src="/HK/images/photo_0024.png" alt=""/></li>
                    </ul>
                </div>
            </li>
            <!--招募对象-->
            <li class="bgColor">
                <div class="container">
                    <h2 class="caption tl">招募对象</h2>
                    <div class="recruit-list">
                        <ul>
                            <li>
                                <div class="info">
                                    <h5 class="title">品牌电器企业</h5>
                                    <ul class="sub-nav">
                                        <li>方太</li>
                                        <li>奥克斯</li>
                                        <li>公牛</li>
                                        <li>爱国者</li>
                                        <li>友邦吊顶</li>
                                        <li>创尔特</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <h5 class="title">智能家居企业</h5>
                                    <ul class="sub-nav">
                                        <li>万家丽</li>
                                        <li>禧龙</li>
                                        <li>来过网络</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <h5 class="title">通讯芯片模组厂</h5>
                                    <ul class="sub-nav cutting odd-li">
                                        <li>联发科</li>
                                        <li>新力维</li>
                                        <li>乐鑫</li>
                                        <li>庆科</li>
                                        <li>realtek</li>
                                        <li>金讯</li>
                                        <li>高通</li>
                                        <li>汉枫</li>
                                        <li>安信可</li>
                                        <li>顺舟智能</li>
                                        <li>汇思锐</li>
                                        <li>瑞瀛物联</li>
                                        <!--<li>联发科 丨 新力维</li>-->
                                        <!--<li>乐鑫 丨 庆科</li>-->
                                        <!--<li>realtek 丨 金讯</li>-->
                                        <!--<li>高通 丨 汉枫</li>-->
                                        <!--<li>安信可 丨 顺舟智能</li>-->
                                        <!--<li>汇思锐 丨 瑞瀛物联</li>-->
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <h5 class="title">控制板方案</h5>
                                    <ul class="sub-nav">
                                        <li>格莱斯电子</li>
                                        <li>东菱照明</li>
                                        <li>凯翔电器 </li>
                                        <li>方蓝科技</li>
                                        <li>安蕊电器</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <h5 class="title">渠道公司</h5>
                                    <ul class="sub-nav">
                                        <li>苏宁易购</li>
                                        <li>万家丽</li>
                                        <li>筑想</li>
                                        <li>品宅</li>
                                        <li>保利地产</li>
                                        <li>远大科技</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <h5 class="title">行业媒体机构</h5>
                                    <ul class="sub-nav">
                                        <li>36氪</li>
                                        <li>机锋网</li>
                                        <li>雷锋网</li>
                                        <li>星云加速器</li>
                                        <li>慧聪网</li>
                                        <li>浙江大学</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <h5 class="title">软件外包公司</h5>
                                    <ul class="sub-nav">
                                        <li>杭州博彩</li>
                                        <li>蓝创科技</li>
                                        <li>小冰动力</li>
                                        <li>时云软件</li>
                                        <li>深圳博云智慧</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>