<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>氦氪官网-氦氪云</title>
</head>
<body id="HKyun">
<!--主要内容-->
<div id="main">
    <!--首页banner-->
    <div class="home-banner">
        <div class="pr">
            <img class="w home-banner-bg" src="/HK/images/photo_0006-small.png" alt="">
            <img class="distinct-photo" src="/HK/images/photo_0006.png" alt="">
        </div>
        <!--文案-->
        <div class="context">
            <!--居中对齐-->
            <div class="align-center">
                <div class="center">
                    <div class="container tl">
                        <span>安全　快速　开放</span>
                        <p>300＋企业智能产品见证　5000＋工程师开发试用　2500万元+PaaS云平台开发投入</p>
                        <a class="btn btn-import" href="javascript:void(0)">申请试用</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--内容部分-->
    <div class="content">
        <ul>
            <!--文档-->
            <li class="file noBottomPadding">
                <div class="container">
                    <h2 class="caption">氦氪云开发文档</h2>
                    <div class="list">
                        <!--四列菜单-->
                        <ul class="four-item">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe960;</i>
                                    <h5 class="title">运营中心</h5>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe95a;</i>
                                    <h5 class="title">产测平台</h5>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe95d;</i>
                                    <h5 class="title">调试工具</h5>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe95c;</i>
                                    <h5 class="title">SDK下载</h5>
                                </a>
                            </li>
                        </ul>
                        <!--三列菜单-->
                        <ul class="three-item">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe95e;</i>
                                    <h5 class="title">通讯协议</h5>
                                </a>
                                <ul class="sub-nav">
                                    <li><a href="javascript:void(0)">设备云端通讯协议</a></li>
                                    <li><a href="javascript:void(0)">模块mcu通讯协议</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe95b;</i>
                                    <h5 class="title">APP开发API</h5>
                                </a>
                                <ul class="sub-nav">
                                    <li><a href="javascript:void(0)">H5 开发API</a></li>
                                    <li><a href="javascript:void(0)">IOS 开发API</a></li>
                                    <li><a href="javascript:void(0)">Android 开发API</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe961;</i>
                                    <h5 class="title">云平台API</h5>
                                </a>
                                <ul class="sub-nav">
                                    <li><a href="javascript:void(0)">云端API列表</a></li>
                                    <li><a href="javascript:void(0)">云端API详情</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="tc mt30">
                            <a class="btn btn-import-border" href="javascript:void(0)">开发文档</a>
                        </div>
                    </div>
                    <!--分割线-->
                    <i class="cutting-line"></i>
                </div>
            </li>
            <!--运营中心-->
            <li class="noBottomPadding">
                <div class="container">
                    <h2 class="caption tl">运营中心</h2>
                    <div class="pr mt30">
                        <img class="w" src="/HK/images/photo_0007-small.png" alt="">
                        <img class="distinct-photo" src="/HK/images/photo_0007.png" alt="">
                    </div>
                    <div class="tc mt20 pt20">
                        <a href="javascript:void(0)" class="aHover mainColor">马上加入</a>
                    </div>
                    <!--分割线-->
                    <i class="cutting-line"></i>
                </div>
            </li>
            <!--APP开发-->
            <li class="noBottomPadding">
                <div class="container">
                    <h2 class="caption">APP开发</h2>
                    <!--应用列表-->
                    <div class="APP-list">
                        <ul>
                            <li class="active">
                                <!--居中对齐-->
                                <div class="align-center">
                                    <div class="center">
                                        <i class="iconfont">&#xe961;</i>
                                        <h5 class="title">丛云APP-产品H5开发</h5>
                                        <p>根据产品类型不同基于<br>丛云APP在运营中心进行<br>产品H5页面的设置开发</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!--居中对齐-->
                                <div class="align-center">
                                    <div class="center">
                                        <i class="iconfont">&#xe961;</i>
                                        <h5 class="title">丛云APP-产品H5模版</h5>
                                        <p>根据产品类型不同基于<br>丛云APP在运营中心进行<br>产品H5页面的设置开发</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!--居中对齐-->
                                <div class="align-center">
                                    <div class="center">
                                        <i class="iconfont">&#xe961;</i>
                                        <h5 class="title">丛云APP-定制开发</h5>
                                        <p>根据产品类型不同基于<br>丛云APP在运营中心进行<br>产品H5页面的设置开发</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!--居中对齐-->
                                <div class="align-center">
                                    <div class="center">
                                        <i class="iconfont">&#xe95b;</i>
                                        <h5 class="title">定制APP</h5>
                                        <p>根据产品类型不同基于<br>丛云APP在运营中心进行<br>产品H5页面的设置开发</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!--居中对齐-->
                                <div class="align-center">
                                    <div class="center">
                                        <i class="iconfont">&#xe972;</i>
                                        <h5 class="title">微信开发</h5>
                                        <p>根据产品类型不同基于<br>丛云APP在运营中心进行<br>产品H5页面的设置开发</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <!--开发平台-->
            <li class="noBottomPadding">
                <div class="container">
                    <h2 class="caption tl">开放平台</h2>
                    <div class="list">
                        <!--三列菜单-->
                        <ul class="three-item">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe95b;</i>
                                    <h5 class="title">APP开发API</h5>
                                </a>
                                <ul class="sub-nav">
                                    <li><a href="javascript:void(0)">H5 开发API</a></li>
                                    <li><a href="javascript:void(0)">IOS 开发API</a></li>
                                    <li><a href="javascript:void(0)">Android 开发API</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe973;</i>
                                    <h5 class="title">平台API</h5>
                                </a>
                                <ul class="sub-nav">
                                    <li><a href="javascript:void(0)">信息查询API</a></li>
                                    <li><a href="javascript:void(0)">基础通讯API</a></li>
                                    <li><a href="javascript:void(0)">认证授权API</a></li>
                                    <li><a href="javascript:void(0)">用户API</a></li>
                                    <li><a href="javascript:void(0)">企业API</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe974;</i>
                                    <h5 class="title">开放SDK下载</h5>
                                </a>
                                <ul class="sub-nav">
                                    <li><a href="javascript:void(0)">丛云APP-iOS-SDK</a></li>
                                    <li><a href="javascript:void(0)">丛云APP-Android-SDK</a></li>
                                    <li><a href="javascript:void(0)">mcu-SDK</a></li>
                                    <li><a href="javascript:void(0)">ESP8266-SDK</a></li>
                                    <li><a href="javascript:void(0)">H5 SDK 丨 微信SDK</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--分割线-->
                    <i class="cutting-line"></i>
                </div>
            </li>
            <!--通讯模块-->
            <li class="noBottomPadding">
                <div class="container">
                    <h2 class="caption tl">通讯模块</h2>
                    <!--图标列表-->
                    <div class="icon-list">
                        <ul>
                            <li>
                                <i class="iconfont">&#xe96f;</i>
                                <h5 class="title">Wi-Fi</h5>
                            </li>
                            <li>
                                <i class="iconfont">&#xe96b;</i>
                                <h5 class="title">GPRS</h5>
                            </li>
                            <li>
                                <i class="iconfont">&#xe970;</i>
                                <h5 class="title">蓝牙</h5>
                            </li>
                            <li>
                                <i class="iconfont">&#xe96e;</i>
                                <h5 class="title">ZigBee</h5>
                            </li>
                            <li>
                                <i class="iconfont">&#xe96d;</i>
                                <h5 class="title">LoRa</h5>
                            </li>
                            <li>
                                <i class="iconfont">&#xe96c;</i>
                                <h5 class="title">NB-IoT</h5>
                            </li>
                            <li class="more">......</li>
                        </ul>
                    </div>
                    <!--通讯模块合作伙伴-->
                    <div class="photo-list">
                        <h5 class="title">通讯模块合作伙伴</h5>
                        <ul>
                            <li><div class="info"><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0017.png"></a></div></li>
                            <li><div class="info"><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0018.png"></a></div></li>
                            <li><div class="info"><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0019.png"></a></div></li>
                            <li><div class="info"><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0020.png"></a></div></li>
                            <li><div class="info"><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0021.png"></a></div></li>
                            <li><div class="info"><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0022.png"></a></div></li>
                            <li><div class="info"><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0023.png"></a></div></li>
                            <li><div class="info"><a href="javascript:void(0)"><img src="/HK/images/LOGO/Partners-photo-0024.png"></a></div></li>
                        </ul>
                        <div class="tc fs0">
                            <a class="btn btn-import-border inline-block mr20" href="javascript:void(0)">模块资料</a>
                            <a class="btn btn-import-border inline-block ml20" href="javascript:void(0)">淘宝购买</a>
                        </div>
                    </div>
                </div>
            </li>
            <!--通讯协议-->
            <li class="noBottomPadding">
                <div class="container">
                    <h2 class="caption tl">通讯协议</h2>
                    <div class="container small">
                        <div class="list">
                        <!--三列菜单-->
                        <ul class="three-item">
                            <li>
                                <a href="javascript:void(0)">
                                    <h5 class="title">通讯固件</h5>
                                </a>
                                <ul class="sub-nav">
                                    <li><a href="javascript:void(0)">ESP8266主控固件</a></li>
                                    <li><a href="javascript:void(0)">ESP8266透传固件</a></li>
                                    <li><a href="javascript:void(0)">庆科模块透传固件</a></li>
                                    <li><a href="javascript:void(0)">微信透传固件</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <h5 class="title">协议支持类型</h5>
                                </a>
                                <ul class="sub-nav">
                                    <li><a href="javascript:void(0)">JSON透传</a></li>
                                    <li><a href="javascript:void(0)">JSON主控</a></li>
                                    <li><a href="javascript:void(0)">48协议</a></li>
                                    <li><a href="javascript:void(0)">不校验透传</a></li>
                                </ul>
                            </li>
                            <li>
                                <!--居中对齐-->
                                <div class="align-center pt20">
                                    <div class="center">
                                        <div class="pb20 tc">
                                            <a class="btn btn-import-border inline-block" href="javascript:void(0)">开发文档</a>
                                        </div>
                                        <div class="pt20 tc">
                                            <a class="btn btn-import-border inline-block" href="javascript:void(0)">开发文档</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    </div>
                    <!--分割线-->
                    <i class="cutting-line"></i>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>