<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>氦氪官网-氦氪云-运营中心</title>
</head>
<body id="HKyun">
<!--主要内容-->
<div id="main">
    <!--首页banner-->
    <div class="home-banner pr">
        <div class="pr">
            <img class="w home-banner-bg" src="/HK/images/photo_0012-small.png" alt="">
            <img class="distinct-photo" src="/HK/images/photo_0012.png" alt="">
        </div>
        <a href="javascript:void(0)" class="fixed-btn"></a>
    </div>
    <!--内容部分-->
    <div class="content">
        <ul>
            <!--分割线-->
            <li class="noPadding bgColor clearfix">
                <div class="container">
                    <i class="cutting-line"></i>
                </div>
            </li>
            <!--平台API列表-->
            <li class="bgColor noBottomPadding">
                <div class="container">
                    <h2 class="caption tl">丛云APP开发</h2>
                    <!--图文列表-->
                    <div class="photo-text-list">
                        <!--居中对齐-->
                        <div class="align-center">
                            <div class="center">
                                <div class="tl fs0">
                                    <ul>
                                        <li>
                                            <div class="info">
                                                <i class="iconfont">&#xe976;</i>
                                                <h5 class="title">H5开发</h5>
                                                <span class="block">根据产品类型不同基于丛云APP在运营中心进行产品H5页面的设置开发</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info">
                                                <i class="iconfont">&#xe989;</i>
                                                <h5 class="title">产品解决方案</h5>
                                                <span class="block">氦氪根据各种产品类型及功能自主生成近五十种不同的H5控制页面及功能协议解决方案可供调用</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info">
                                                <i class="iconfont">&#xe981;</i>
                                                <h5 class="title">定制APP</h5>
                                                <span class="block">根据企业需要进行个性化APP定制开发</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <img class="photo relative-item" src="/HK/images/photo_0013.png" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--分割线-->
                    <i class="cutting-line"></i>
                </div>
            </li>
            <li class="bgColor">
                <div class="container">
                    <div class="list">
                        <ul class="two-item smallPadding">
                            <li>
                                <i class="iconfont black">&#xe98a;</i>
                                <h5>自主APP开发</h5>
                                <ul class="sub-nav pt10">
                                    <li>企业工程师可根据氦氪云提供的APP API接口进行自主开发</li>
                                </ul>
                                <a class="btn btn-import-border mt20 inline-block" href="javascript:void(0)">云端app API</a>
                            </li>
                            <li>
                                <i class="iconfont black">&#xe972;</i>
                                <h5>微信开发</h5>
                                <ul class="sub-nav pt10">
                                    <li>工程师可基于氦氪云在微信平台进行H5控制页面的二次开发</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>