<div class="content">
    <ul>
        <!--合作流程-->
        <li class="smallPadding noBottomPadding cooperation-info">
            <div class="container">
                <h2 class="caption tl">合作流程</h2>
                <div class="cooperation-list">
                    <ul>
                        <li>
                            <i class="iconfont">&#xe968;</i>
                            <h4 class="title">1.注册审核</h4>
                            <ul class="sub-list">
                                <li>选择账户类型</li>
                                <li>注册运营中心</li>
                                <li>审核认证通过</li>
                                <li>定义产品功能</li>
                            </ul>
                            <i class="iconfont icon-next">&#xe999;</i>
                        </li>
                        <li>
                            <i class="iconfont">&#xe96a;</i>
                            <h4 class="title">2.商务洽谈</h4>
                            <ul class="sub-list">
                                <li>查阅开发文档</li>
                                <li>产品需求评估</li>
                                <li>确定技术方案</li>
                                <li>签订合作协议</li>
                            </ul>
                            <i class="iconfont icon-next">&#xe999;</i>
                        </li>
                        <li>
                            <i class="iconfont">&#xe965;</i>
                            <h4 class="title">3.产品开发</h4>
                            <ul class="sub-list">
                                <li>通讯协议开发</li>
                                <li>确定通讯模组</li>
                                <li>单片机MCU研发</li>
                                <li>APP和H5开发定制</li>
                            </ul>
                            <i class="iconfont icon-next">&#xe999;</i>
                        </li>
                        <li>
                            <i class="iconfont">&#xe966;</i>
                            <h4 class="title">4.产品测试</h4>
                            <ul class="sub-list">
                                <li>氦氪软件测试</li>
                                <li>厂家设备调试</li>
                                <li>双方联调测试</li>
                            </ul>
                            <i class="iconfont icon-next">&#xe999;</i>
                        </li>
                        <li>
                            <i class="iconfont">&#xe967;</i>
                            <h4 class="title">5.产品生产</h4>
                            <ul class="sub-list">
                                <li>采购模块</li>
                                <li>产品打样</li>
                                <li>小批量生产</li>
                                <li>产品量产销售</li>
                            </ul>
                            <i class="iconfont icon-next">&#xe999;</i>
                        </li>
                        <li>
                            <i class="iconfont">&#xe969;</i>
                            <h4 class="title">6.产品运营</h4>
                            <ul class="sub-list">
                                <li>消费者使用</li>
                                <li>产品管理</li>
                                <li>用户管理</li>
                            </ul>
                            <i class="iconfont icon-next">&#xe999;</i>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <!--通讯协议-->
        <li class="smallPadding cooperation-other">
            <div class="container">
                <div class="list">
                        <!--三列菜单-->
                        <ul class="three-item noPadding">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe977;</i>
                                    <h5 class="title">产品测试平台</h5>
                                </a>
                                <p>在产品开发及打样阶段可对产品<br>进行提取测试保证产品通讯的稳定</p>
                                <a class="btn btn-import-border inline-block mt20" href="javascript:void(0)">平台调试工具连接</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe97c;</i>
                                    <h5 class="title">平台调试工具</h5>
                                </a>
                                <p>调试工具swaggerui 是云端 API 调试工具,<br>为设备、APP 开发者提供精确到参数的参考</p>
                                <a class="btn btn-import-border inline-block mt20" href="javascript:void(0)">产品平台连接</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="iconfont">&#xe979;</i>
                                    <h5 class="title">常见问题FAQ</h5>
                                </a>
                                <ul class="sub-nav small odd-li">
                                    <li><a href="javascript:void(0)">氦氪云平台介绍</a></li>
                                    <li><a href="javascript:void(0)">运营中心使用指南</a></li>
                                    <li><a href="javascript:void(0)">设备接入指南</a></li>
                                    <li><a href="javascript:void(0)">其他问题解答</a></li>
                                    <li><a href="javascript:void(0)">丛云APP使用指南</a></li>
                                    <li><a href="javascript:void(0)">使用合作流程</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
            </div>
        </li>
    </ul>
</div>
