<div id="footer">
    <!--底部内容-->
    <div class="container">
        <!--联系资料-->
        <div class="contact-info">
            <ul>
                <li>
                    <dl>
                        <dt>智能硬件 丨 智慧生活<b>150 8866 0953</b></dt>
                        <dd>邮箱：hekr@hekr.me</dd>
                        <dd>QQ群：102738520</dd>
                        <dd>商务合作QQ：</dd>
                        <dd>技术支持QQ：2885438737</dd>
                    </dl>
                </li>
                <li class="special">
                    <dl>
                        <dt>智慧运维<b>0571-28995083</b></dt>
                        <dd class="line">邮箱：iot@hekr.me</dd>
                        <dd>公司地址：杭州市西湖区天目山路226号 网新大厦9楼</dd>
                        <dd>
                            <!--招聘-->
                            <a class="recruit" href="javascript:void(0)">
                                招贤纳士<i class="iconfont">&#xe959;</i>
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!--二维码-->
        <div class="code">
            <ul>
                <li>
                    <img src="/HK/images/code-1.png" alt=""/>
                    <h5 class="title">从云APP</h5>
                </li>
                <li>
                    <img src="/HK/images/code-2.png" alt=""/>
                    <h5 class="title">氦氪公众号</h5>
                </li>
            </ul>
        </div>
    </div>
    <strong class="copy-right"><span>©</span>2016-2017 杭州第九区科技有限公司浙ICP备15005406号-1</strong>
    <!--页面工具-->
    <div class="page-tool">
        <ul>
            <li><i class="iconfont">&#xe958;</i></li>
            <li>APP</li>
            <li class="return-top"><i class="iconfont">&#xe957;</i></li>
        </ul>
    </div>
</div>