<div id="header">
    <div class="container onTheLeft noPadding minWidth">
        <h1 id="LOGO"><a href="javascript:void(0)"><i class="icon icon-user icon-W80"></i></a></h1>
        <!--菜单-->
        <div class="" id="nav">
            <ul>
                <li class="nav-index">
                    <a class="title" href="/HK/html/index.html"><span>首页</span></a>
                </li>
                <li class="nav-HKyun">
                    <a class="title" href="/HK/html/HKyun/index.html"><span>氦氪云</span></a>
                    <ul class="sub-nav">
                        <li><a class="sub-title" href="/HK/html/HKyun/terrace.html">开放平台</a></li>
                        <li><a class="sub-title" href="/HK/html/HKyun/marketing.html">运营中心</a></li>
                        <li><a class="sub-title" href="/HK/html/HKyun/device-info.html">通讯模块/协议/固件</a></li>
                        <li><a class="sub-title" href="/HK/html/HKyun/software.html">软件开发</a></li>
                    </ul>
                </li>
                <li class="nav-hardwar">
                    <a class="title" href="/HK/html/hardware/index.html"><span>智能硬件方案</span></a>
                    <ul class="sub-nav">
                        <li><a class="sub-title" href="javascript:void(0)">产品方案</a></li>
                        <li><a class="sub-title" href="/HK/html/hardware/yun.html">云+生态</a></li>
                        <li><a class="sub-title" href="javascript:void(0)">智慧生活</a></li>
                    </ul>
                </li>
                <li>
                    <a class="title" href="javascript:void(0)"><span>智慧运维方案</span></a>
                    <ul class="sub-nav">
                        <li><a class="sub-title" href="javascript:void(0)">解决方案</a></li>
                        <li><a class="sub-title" href="javascript:void(0)">光伏监控</a></li>
                        <li><a class="sub-title" href="javascript:void(0)">热水BOT</a></li>
                    </ul>
                </li>
                <li>
                    <a class="title" href="javascript:void(0)"><span>关于氦氪</span></a>
                </li>
            </ul>
        </div>
        <!--登录注册-->
        <div id="welcome">
            <a id="login" href="javascript:void(0)">登录</a>
            <a id="register" href="javascript:void(0)">立即注册</a>
        </div>
    </div>
</div>